{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Inner Banner -->
    <div class="inner-banner">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-7">
                    <div class="inner-title">
                        <h3>My Account</h3>
                        <ul>
                            <li>
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            <li>My Account</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5">
                    <div class="inner-img">
                        <img src="{% static 'images/inner-banner/inner-banner7.png' %}" alt="Inner Banner"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Inner Banner End -->

    <!-- My Account Area -->
    {% if subscribed %}
        <div class="my-account-area ptb-100">
            <div class="container">
                <div class="tab account-tab">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <ul class="tabs">
                                <li>
                                    Dashboard
                                </li>
                                <li>
                                    Delete Account
                                </li>
                                <li>
                                    Address
                                </li>
                                <li>
                                    Profile Details
                                </li>
                                <li>
                                    Password Change
                                </li>

                                <li>
                                    Unsubscribe
                                </li>

                                <li>
                                    Log Out
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-8">
                            <div class="tab_content current active pl-20">
                                <div class="tabs_item current">
                                    {% if profile.name %}
                                        <div class="account-details">
                                            <h2>Hello {{ profile.name }}</h2>
                                            <p>
                                                From your account dashboard. you can easily check & view your recent
                                                orders,
                                                manage your <a href="{% url 'profile details' %}">shipping addresses</a>
                                                and
                                                <a href="{% url 'change password' %}">edit your password</a>.
                                            </p>
                                        </div>
                                    {% else %}
                                        <div class="account-details">
                                            <h2>Hello {{ profile.user.email }}</h2>
                                            <p>
                                                From your account dashboard. you can easily check & view your recent
                                                orders,
                                                manage your <a href="{% url 'profile details' %}">shipping and billing
                                                addresses</a>
                                                and
                                                <a href="{% url 'change password' %}">edit your password</a>.
                                            </p>
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="tabs_item">
                                    <div class="col-lg-12 col-md-12">
                                        <a href="{% url 'delete_account' %}" class="default-btn border-radius-5"
                                           style="background-color: red">
                                            Delete Account
                                        </a>
                                    </div>
                                </div>

                                <div class="tabs_item">
                                    <div class="invoice-area">
                                        <div class="invoice-middle">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="text">
                                                        <h4 class="mb-2">Ship To</h4>
                                                        <span class="d-block mb-1">{{ profile.name }}</span>
                                                        <span class="d-block mb-1">{{ profile.address }}</span>
                                                        <span class="d-block">{{ profile.phone_number }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tabs_item">
                                    <div class="contact-form">
                                        <h3>Profile Details</h3>
                                        {% if profile.profile_image %}
                                            <img src="{{ profile.profile_image.url }}"
                                                 style="height: 300px;width: 300px;object-fit: cover" alt="#">
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                name: {{ profile.name }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                phone number: {{ profile.phone_number }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                address: {{ profile.address }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <button class="default-btn border-radius-5">
                                                    <a href="{% url 'profile details' %}" style="color: ghostwhite">Update
                                                        Profile</a>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tabs_item">
                                    <div class="col-lg-12 col-md-12">
                                        <a href="{% url 'change password' %}" class="default-btn border-radius-5">
                                            Change Password
                                        </a>
                                    </div>
                                </div>
                                <div class="tabs_item">
                                    <div class="col-lg-12 col-md-12">
                                        <a href="{% url 'newsletter signout' %}" class="default-btn border-radius-5"
                                           style="background-color: red">
                                            Unsubscribe
                                        </a>
                                    </div>
                                </div>
                                <div class="tabs_item">
                                    <div class="col-lg-12 col-md-12">
                                        <a href="{% url 'logout' %}" class="default-btn border-radius-5">
                                            Logout
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="my-account-area ptb-100">
            <div class="container">
                <div class="tab account-tab">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <ul class="tabs">
                                <li>
                                    Dashboard
                                </li>
                                <li>
                                    Delete Account
                                </li>
                                <li>
                                    Address
                                </li>
                                <li>
                                    Profile Details
                                </li>
                                <li>
                                    Password Change
                                </li>
                                <li>
                                    Log Out
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-8">
                            <div class="tab_content current active pl-20">
                                <div class="tabs_item current">
                                    {% if profile.name %}
                                        <div class="account-details">
                                            <h2>Hello {{ profile.name }}</h2>
                                            <p>
                                                From your account dashboard. you can easily check & view your recent
                                                orders,
                                                manage your <a href="{% url 'profile details' %}">shipping addresses</a>
                                                and
                                                <a href="{% url 'change password' %}">edit your password</a>.
                                            </p>
                                        </div>
                                    {% else %}
                                        <div class="account-details">
                                            <h2>Hello {{ profile.user.email }}</h2>
                                            <p>
                                                From your account dashboard. you can easily check & view your recent
                                                orders,
                                                manage your <a href="{% url 'profile details' %}">shipping and billing
                                                addresses</a>
                                                and
                                                <a href="{% url 'change password' %}">edit your password</a>.
                                            </p>
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="tabs_item">
                                    <div class="col-lg-12 col-md-12">
                                        <a href="{% url 'delete_account' %}" class="default-btn border-radius-5"
                                           style="background-color: red">
                                            Delete Account
                                        </a>
                                    </div>
                                </div>

                                <div class="tabs_item">
                                    <div class="invoice-area">
                                        <div class="invoice-middle">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="text">
                                                        <h4 class="mb-2">Ship To</h4>
                                                        <span class="d-block mb-1">{{ profile.name }}</span>
                                                        <span class="d-block mb-1">{{ profile.address }}</span>
                                                        <span class="d-block">{{ profile.phone_number }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tabs_item">
                                    <div class="contact-form">
                                        <h3>Profile Details</h3>
                                        {% if profile.profile_image %}
                                            <img src="{{ profile.profile_image.url }}"
                                                 style="height: 300px;width: 300px;object-fit: cover" alt="#">
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                name: {{ profile.name }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                phone number: {{ profile.phone_number }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                address: {{ profile.address }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <button class="default-btn border-radius-5">
                                                    <a href="{% url 'profile details' %}" style="color: ghostwhite">Update
                                                        Profile</a>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tabs_item">
                                    <div class="col-lg-12 col-md-12">
                                        <a href="{% url 'change password' %}" class="default-btn border-radius-5">
                                            Change Password
                                        </a>
                                    </div>
                                </div>
                                <div class="tabs_item">
                                    <div class="col-lg-12 col-md-12">
                                        <a href="{% url 'logout' %}" class="default-btn border-radius-5">
                                            Logout
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- My Account Area End -->

{% endblock %}